.content {
    width: 640px;
    height: 400px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
p {font-size: xx-large;}
.navi {
    width: 640px;
    height:40px;
    text-align:right;
}
